management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: never
  metrics:
    export:
      prometheus:
        enabled: true

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:test}

  datasource:
    url: ${DB_ACCOUNTS_URL}
    username: ${DB_ACCOUNTS_USER}
    password: ${DB_ACCOUNTS_PASS}
    driver-class-name: ${DB_ACCOUNTS_DRIVER}

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect

microservices:
  auth:
    base-url: ${URL_AUTH_MS}
