x-environment: &default-env
  JWT_SECRET: "myXSuperXSecretXKeyX32charsMinmyXSuperXSecretXKeyX32charsMinX2"

services:
  auth:
    build: ./backend/authenticator
    image: auth-service:1.2

  users:
    build:
      context: ./backend/users
      dockerfile: Dockerfile
    container_name: ${USERS_CONTAINER_NAME}
    image: users-service:1.0
    ports:
      - ${USERS_HOST_PORT}:${USERS_CONTAINER_PORT}
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - SPRING_DATASOURCE_URL=${DB_USERS_URL}
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=${DB_USERS_DRIVER}
      - SPRING_DATASOURCE_USERNAME=${DB_USERS_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_USERS_PASS}
      - CREDENTIALS_USER=${USERS_CREDENTIALS_USER}
      - CREDENTIALS_PASS=${USERS_CREDENTIALS_PASS}
    networks:
     - backend-net
     - database-net

  accounts:
    build: ./backend/accounts
    container_name: ${ACCOUNTS_CONTAINER_NAME}
    image: accounts-service:1.0
    ports:
      - ${ACCOUNTS_HOST_PORT}:${ACCOUNTS_CONTAINER_PORT}
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - DB_URL=${DB_ACCOUNTS_URL}
      - DB_DRIVER=${DB_ACCOUNTS_DRIVER}
      - DB_USER=${DB_ACCOUNTS_USER}
      - DB_PASSWORD=${DB_ACCOUNTS_PASS}
      - CREDENTIALS_USER=${ACCOUNTS_CREDENTIALS_USER}
      - CREDENTIALS_PASS=${ACCOUNTS_CREDENTIALS_PASS}
    networks:
      - backend-net
      - database-net

  transactions:
    build: ./backend/transactions
    container_name: ${TRANSACTIONS_CONTAINER_NAME}
    image: transactions-service:1.0
    ports:
      - ${TRANSACTIONS_HOST_PORT}:${TRANSACTIONS_CONTAINER_PORT}
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - DB_URL=${DB_TRANSACTIONS_URL}
      - DB_DRIVER=${DB_TRANSACTIONS_DRIVER}
      - DB_USER=${DB_TRANSACTIONS_USER}
      - DB_PASSWORD=${DB_TRANSACTIONS_PASS}
      - CREDENTIALS_USER=${TRANSACTIONS_CREDENTIALS_USER}
      - CREDENTIALS_PASS=${TRANSACTIONS_CREDENTIALS_PASS}
    networks:
      - backend-net
      - database-net


networks:
  backend-net:
    driver: bridge
    name: ${BACKEND_NET_NAME}
  database-net:
    driver: bridge

