x-environment: &default-env
  JWT_SECRET: "myXSuperXSecretXKeyX32charsMinmyXSuperXSecretXKeyX32charsMinX2"

services:
  db-users:
    image: mysql:8.0
    container_name: db-users
    environment:
      MYSQL_DATABASE: usersdb
      MYSQL_USER: usersuser
      MYSQL_PASSWORD: userspass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3310:3306"
    networks:
      - database-net
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 2s
      timeout: 2s
      retries: 10

  db-accounts:
    image: mysql:8.0
    container_name: db-accounts
    environment:
      MYSQL_DATABASE: accountsdb
      MYSQL_USER: accountsuser
      MYSQL_PASSWORD: accountspass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3311:3306"
    networks:
      - database-net
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 2s
      timeout: 2s
      retries: 10

  db-transactions:
    image: mysql:8.0
    container_name: db-transactions
    environment:
      MYSQL_DATABASE: transactionsdb
      MYSQL_USER: transactionsuser
      MYSQL_PASSWORD: transactionspass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3312:3306"
    networks:
      - database-net
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 2s
      timeout: 2s
      retries: 10

  auth:
    build: ./backend/authenticator
    container_name: ${AUTHENTICATOR_CONTAINER_NAME}
    image: auth-service:lastest
    ports:
      - ${AUTH_HOST_PORT}:${AUTH_CONTAINER_PORT}
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - AUTH_CONTAINER_PORT=${AUTH_CONTAINER_PORT}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_SECRET_DURATION=${JWT_SECRET_DURATION}
    networks:
      - backend-net
    volumes:
      - ./logs/auth:/app/logs

  users:
    build:
      context: ./backend/users
      dockerfile: Dockerfile
    container_name: ${USERS_CONTAINER_NAME}
    image: users-service:lastest
    ports:
      - ${USERS_HOST_PORT}:${USERS_CONTAINER_PORT}
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - USERS_CONTAINER_PORT=${USERS_CONTAINER_PORT}
      - SPRING_DATASOURCE_URL=${DB_USERS_URL}
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=${DB_USERS_DRIVER}
      - SPRING_DATASOURCE_USERNAME=${DB_USERS_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_USERS_PASS}
      - CREDENTIALS_USERS_USER=${CREDENTIALS_USERS_USER}
      - CREDENTIALS_USERS_PASS=${CREDENTIALS_USERS_PASS}
      - URL_AUTH_MS=${URL_AUTH_MS}
    depends_on:
      db-users:
        condition: service_healthy
    networks:
     - backend-net
     - database-net
    volumes:
      - ./logs/users:/app/logs

  accounts:
    build: ./backend/accounts
    container_name: ${ACCOUNTS_CONTAINER_NAME}
    image: accounts-service:lastest
    ports:
      - ${ACCOUNTS_HOST_PORT}:${ACCOUNTS_CONTAINER_PORT}
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - ACCOUNTS_CONTAINER_PORT=${ACCOUNTS_CONTAINER_PORT}
      - SPRING_DATASOURCE_URL=${DB_ACCOUNTS_URL}
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=${DB_ACCOUNTS_DRIVER}
      - SPRING_DATASOURCE_USERNAME=${DB_ACCOUNTS_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_ACCOUNTS_PASS}
      - URL_AUTH_MS=${URL_AUTH_MS}
    depends_on:
      db-accounts:
        condition: service_healthy
    networks:
      - backend-net
      - database-net
    volumes:
      - ./logs/accounts:/app/logs

  transactions:
    build: ./backend/transactions
    container_name: ${TRANSACTIONS_CONTAINER_NAME}
    image: transactions-service:lastest
    ports:
      - ${TRANSACTIONS_HOST_PORT}:${TRANSACTIONS_CONTAINER_PORT}
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - TRANSACTIONS_CONTAINER_PORT=${TRANSACTIONS_CONTAINER_PORT}
      - SPRING_DATASOURCE_URL=${DB_TRANSACTIONS_URL}
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=${DB_TRANSACTIONS_DRIVER}
      - SPRING_DATASOURCE_USERNAME=${DB_TRANSACTIONS_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_TRANSACTIONS_PASS}
      - RABBITMQ_DOCKER_CONTAINER_NAME=${RABBITMQ_DOCKER_CONTAINER_NAME}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - URL_AUTH_MS=${URL_AUTH_MS}
      - URL_ACCOUNTS_MS=${URL_ACCOUNTS_MS}
    depends_on:
      db-transactions:
        condition: service_healthy
    networks:
      - backend-net
      - database-net
    volumes:
      - ./logs/transactions:/app/logs

  notifications:
    build:
      context: ./backend/notifications
      dockerfile: Dockerfile
    container_name: notifications
    environment:
      RABBITMQ_URL: amqp://${RABBITMQ_USERNAME}:${RABBITMQ_PASSWORD}@rabbitmq:5672/
      SMTP_HOST: smtp.gmail.com
      SMTP_PORT: 587
      SMTP_USER: ${NOTIFICATIONS_SMTP_USER}
      SMTP_PASS: ${NOTIFICATIONS_SMTP_PASS}
    depends_on:
      - rabbitmq
    networks:
      - backend-net
    volumes:
      - ./logs/notifications:/app/logs

  gateway:
    build: ./backend/gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth
      - users
      - accounts
      - transactions
    networks:
      - backend-net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: ${RABBITMQ_DOCKER_CONTAINER_NAME}
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USERNAME}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    networks:
      - backend-net


networks:
  backend-net:
    driver: bridge
  database-net:
    driver: bridge

